*{
    margin: 0;
    padding:0;
    border: 0;
}

body{
    font-family: 'Quicksand', 'Nunito';
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    background-color: #745959;
    height: 50px;
}

main{
    margin: 0 auto;
    display: flex;
}

#izq{
    display: flex;
    margin: 60px 0 0 0 ;
    flex:1;
    justify-content: flex-end;
}

#profile{
    border: 2px solid rgb(112, 112, 112);
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    width: 150px;
    height: 200px;
    text-align: center;
    padding: 10px 10px;
}

.pfp{
    width: 120px;
    margin: 15px;
    border-radius: 60px;
}

#name{
    margin-top: 30px;
}

#der{
    margin: 2% 5%;
    flex:2;
}

.post{
    background-color: #F4F4F4;
    border: solid 2px rgb(112, 112, 112);
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    height: 90px;
}

.flex{
    display: flex;
    align-items: center;
    gap: 5px;
}

.post_info{
    margin: 10px 0;
    justify-content: flex-end;
}

.post_op{
    flex: 1; 
    justify-content: flex-start;
}

.post_content{
    margin: 10px 0;
}

button{
    background-color: rgb(255, 212, 212);
    border: white solid 1px;
    border-radius: 5px;
    padding: 5px 10px;
    opacity: 0.5;
    transition: 0.3s ease;
}

button:hover{
    cursor: pointer;
    opacity: 1.0;
}

a{
    color: rgb(145, 109, 163);
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    color: rgb(114, 28, 157);
}
